* {
  font-family: Lato, sans-serif;
  background-color: #f35f5f;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

button {
  width: 125px;
  height: 47px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  transform: translateY(4px);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 500px;
  height: 614px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 365px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.active-btn {
  color: #f35f5f;
  background-color: #ffffff;
  border-radius: 25px;
}

.nav-button {
  width: 125px;
  height: 47px;
  border-radius: 25px;
}

.circle {
  width: 470px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: #ffffff 15px solid;
}

.timer {
  width: 330px;
  height: 210px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.time {
  padding: 0px;
  margin: 0px;
  font-size: 95px;
  font-weight: normal;
}

#action {
  font-size: 30px;
  font-weight: bold;
  border: none;
}

/* Media queries for mobile and tablet */
@media screen and (max-width: 600px) {
  .grid {
    height: 479px;
  }
  .nav {
    width: 324px;
    height: 42px;
  }

  .circle {
    width: 320px;
    height: 320px;
  }

  .timer {
    width: 270px;
    height: 145px;
  }

  .time {
    font-size: 65px;
  }
}

@media screen and (max-height: 414px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
}
