* {
  font-family: Lato, sans-serif;
  background-color: #f35f5f;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 500px;
  height: 614px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 365px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.active-btn {
  width: 125px;
  height: 47px;
  color: #f35f5f;
  background-color: #ffffff;
  border-radius: 25px;
}

.nav-button {
  width: 125px;
  height: 47px;
  border-radius: 25px;
}

.circle {
  width: 470px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: #ffffff 15px solid;
}

.timer {
  width: 330px;
  height: 210px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.time {
  padding: 0px;
  margin: 0px;
  font-size: 95px;
  font-weight: normal;
}

.actions {
  width: 103px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.actions-btn {
}
